/*
 * Title styling
 */
.recipe-title {
    -fx-font-family: Ubuntu, Arial;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-text-fill: rp-header-text;
    -fx-wrap-text: true;
}

/*
 * Ingredient table styling
 */
 
.ingredient-table *.scroll-bar:horizontal *.increment-button,
.ingredient-table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.ingredient-table *.scroll-bar:horizontal *.increment-arrow, 
.ingredient-table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.ingredient-table *.scroll-bar:vertical *.increment-button,
.ingredient-table *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.ingredient-table *.scroll-bar:vertical *.increment-arrow, 
.ingredient-table *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.ingredient-table .column-header-background{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.ingredient-table .table-row-cell: odd{
    -fx-background-color: derive(rp-bg-contra-color, 20%);
    -fx-border-color: derive(rp-bg-contra-color, 20%);
}

.ingredient-table .table-row-cell: even{
    -fx-background-color: derive(rp-bg-contra-color, 20%);
    -fx-border-color: derive(rp-bg-contra-color, 20%);
}

.ingredient-table .table-row-cell: hover {
    -fx-background-color: derive(rp-bg-contra-color, 20%);
    -fx-border-color: derive(rp-bg-contra-color, 20%);
}

.ingredient-table .table-row-cell:focused {
    -fx-background-color: derive(rp-bg-contra-color, 20%);
    -fx-border-color: derive(rp-bg-contra-color, 20%);
    -fx-text-background-color: black;
}

.ingredient-table {
    -fx-accent: transparent ;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: derive(rp-bg-contra-color, 20%);
}

.ingredient-table .check-box {
    /* default properties */
    selected-box-color: rp-header-text;
    box-color: rp-header-text;
    mark-color: white;
}

.ingredient-table .check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.ingredient-table .check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.ingredient-table .check-box:selected > .box > .mark,
.ingredient-table .check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}

/* Ingredient edit table */
.ingredient-edit-table *.scroll-bar:horizontal *.increment-button,
.ingredient-edit-table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.ingredient-edit-table *.scroll-bar:horizontal *.increment-arrow, 
.ingredient-edit-table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.ingredient-edit-table *.scroll-bar:vertical *.increment-button,
.ingredient-edit-table *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.ingredient-edit-table *.scroll-bar:vertical *.increment-arrow, 
.ingredient-edit-table *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.ingredient-edit-table .column-header-background{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
