.root {
	rp-bg-color: rgb(255, 217, 179); /* dark-yellow */
	rp-bg-thin-color: rgb(255, 217, 179, 0.6); /* 20% dark-yellow */
	rp-bg-contra-color: rgb(255, 242, 230);
	rp-header-text: rgb(179, 77, 0); /* dark orange */
	rp-shadow: rgb(50, 50, 50, 0.3);
	rp-validation: rgb(255, 0, 0);
}

.drop-shadow {
	-fx-effect: dropshadow(gaussian, rp-shadow, 10, 0.5, 0.0, 0.0);
}

.background {
    -fx-background-color: linear-gradient(to bottom left, rp-bg-color 10%, rp-bg-contra-color 50%, rp-bg-color 90%);
}

.validation {
	-fx-font-size: 0.9em;
	-fx-text-fill: rp-validation
}

/*
 * General styling of tables
 */
.rp-table *.scroll-bar:horizontal *.increment-button,
.rp-table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.rp-table *.scroll-bar:horizontal *.increment-arrow, 
.rp-table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.rp-table .table-row-cell: odd{
    -fx-background-color: rp-bg-thin-color;
    -fx-border-color: rp-bg-thin-color;
}

.rp-table .table-row-cell: even{
    -fx-background-color: rp-bg-contra-color;
    -fx-border-color: rp-bg-contra-color;
}

.rp-table .table-row-cell: hover odd{
    -fx-background-color: rp-bg-color;
    -fx-border-color: rp-bg-color;
}

.rp-table .table-row-cell: hover even{
    -fx-background-color: rp-bg-contra-color;
    -fx-border-color: rp-bg-contra-color;
}

.rp-table .table-row-cell:focused {
	-fx-background-color: rp-header-text;
}


.rp-table {
    -fx-accent: transparent ;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: rp-bg-color;
    -fx-border-width: 2px;
}
